<div *ngIf="!isAddTopics">
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div id="languages-grid_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <c-row ngPreserveWhitespaces>
                        <c-col>
                            <c-card class="mb-4">
                                <c-card-header class="d-flex justify-content-between align-items-center">
                                    <strong>Topics (pages)
                                    </strong>
                                    <div>
                                        <a *ngIf="this.canCreate == true" class="btn btn-primary btn-sm" [routerLink]="['/admin/Topic/Create']" >
                                            <i class="fas fa-plus me-1"></i>
                                            {{getLabelValue('admin.topics.header.addnewbutton.value')}}
                                        </a>
                                    </div>
                                </c-card-header>
                                <c-card-body>

                                    <c-card>
                                        <c-card-header class="d-flex justify-content-between align-items-center"
                                            (click)="toggleCollapse(0)">
                                            <strong><i class="fas fa-search me-3 fw-bold"></i>Search</strong>
                                            <div>
                                                <a class="btn btn-sm">
                                                    <i class="fas me-1"
                                                        [ngClass]="collapses[0] ? 'fa-minus':'fa-plus'"></i>
                                                </a>
                                            </div>
                                        </c-card-header>
                                        <c-card-body [@collapse]="collapses[0] ? 'open' : 'closed'">
                                            <div class="form-group row mb-1">
                                                <div class="col-md-3">
                                                    <div class=" d-flex align-items-center justify-content-end">
                                                        <label class="col-form-label me-2" for="name">
                                                            {{getLabelValue('admin.topics.search.name.value')}}
                                                        </label>
                                                        <div [title]="getLabelValue('admin.topics.search.name.hint')"
                                                            data-toggle="tooltip" class="ico-help">
                                                            <i class="fas fa-question-circle text-primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-required">
                                                        <input class="form-control text-box single-line"
                                                            [(ngModel)]="name" data-val="true" data-val-length-min="0"
                                                            data-val-required="Please provide a name." id="name"
                                                            name="name" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3 col-md-12">
                                                <div class="col-md-3">&nbsp;</div> <!-- Blank space -->
                                                <div class="col-md-9 ps-3">
                                                    <a class="btn btn-primary text-white" (click)="getAllTopicList()">
                                                        <i class="fas fa-search me-1"></i>
                                                        {{getLabelValue('admin.topics.search.searchButton.value')}}
                                                    </a>
                                                </div>
                                            </div>

                                        </c-card-body>
                                    </c-card>
                                    <br>

                                    <c-card>
                                        <c-card-body>
                                            <div style="overflow-x: auto;">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                        <tr>

                                                            <th scope="col" style="width: 10%;">Actions</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Published</th>
                                                            <th scope="col">Include in sitemap</th>
                                                            <th scope="col">Include in top menu</th>
                                                            <th scope="col">Include in footer (column 1)</th>
                                                            <th scope="col">Include in footer (column 2)</th>
                                                            <th scope="col">Include in footer (column 3)</th>
                                                            <th scope="col">Display Order</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngIf="loading">
                                                            <td colspan="10">
                                                                <div class="d-flex justify-content-center">
                                                                    <div class="spinner-border text-primary"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <ng-container *ngIf="!loading">

                                                        <tr *ngFor="let topics of allTopicList; let langIndex = index">

                                                            <td class="text-center">
                                                                <div class="center-buttons">
                                                                    <a *ngIf="this.canEdit == true" class="btn btn-sm btn-secondary"
                                                                    [routerLink]="['/admin/Topic/Edit',topics._id]">
                                                                        <i class="fas fa-pencil"></i>
                                                                    </a>
                                                                    <div *ngIf="this.canDelete == true">
                                                                    <a class="btn btn-sm btn-danger text-white"
                                                                        *ngIf="topics.isDeleted === false"
                                                                        [cModalToggle]="deActiveModal.id"
                                                                        (click)="setTopic(topics)">
                                                                        <i class="fas fa-trash"></i>
                                                                    </a>
                                                                    <a class="btn btn-sm btn-success text-white"
                                                                        *ngIf="topics.isDeleted === true"
                                                                        [cModalToggle]="activeModal.id"
                                                                        (click)="setTopic(topics)">
                                                                        <i class="fas fa-check"></i>
                                                                    </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>{{topics.systemName}} </td>
                                                            <td><i
                                                                    [class]="topics.published ? 'fas fa-check text-success':'fas fa-times text-danger'"></i>
                                                            </td>
                                                            <td><i
                                                                    [class]="topics.includeInSiteMap ? 'fas fa-check text-success':'fas fa-times text-danger'"></i>
                                                            </td>
                                                            <td><i
                                                                    [class]="topics.includeInTopMenu ? 'fas fa-check text-success':'fas fa-times text-danger'"></i>
                                                            </td>
                                                            <td><i
                                                                    [class]="topics.includeInFooterColumn1 ? 'fas fa-check text-success':'fas fa-times text-danger'"></i>
                                                            </td>
                                                            <td><i
                                                                    [class]="topics.includeInFooterColumn2 ? 'fas fa-check text-success':'fas fa-times text-danger'"></i>
                                                            </td>
                                                            <td><i
                                                                    [class]="topics.includeInFooterColumn3 ? 'fas fa-check text-success':'fas fa-times text-danger'"></i>
                                                            </td>
                                                            <td>{{topics.order}}</td>
                                                            <td class="text-center">
                                                                <a class="btn btn-sm text-white"
                                                                    [ngClass]="{'btn-success': !topics.isDeleted, 'btn-danger': topics.isDeleted}">
                                                                    {{ topics.isDeleted ? 'Deactive' : 'Active' }}
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            *ngIf="!allTopicList || allTopicList.length === 0">
                                                            <td colspan="10" class="text-center "><b> No data found</b></td>
                                                        </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row mt-4 align-items-center">
                                                <div class="col-lg-4 col-md-6 mb-2">
                                                    <div class="dataTables_paginate paging_simple_numbers">
                                                        <ul class="pagination">
                                                            <!-- Previous Button -->
                                                            <li class="page-item" [class.disabled]="currentPage === 1">
                                                                <a class="page-link"
                                                                    (click)="changePage(currentPage - 1)"
                                                                    tabindex="-1">Previous</a>
                                                            </li>

                                                            <!-- Page Numbers -->
                                                            <li class="page-item" *ngFor="let page of getPagination()"
                                                                [class.active]="page === currentPage"
                                                                [class.disabled]="page === '...'">
                                                                <a class="page-link"
                                                                    *ngIf="page !== '...'; else dotsTemplate"
                                                                    (click)="changePage(page)">
                                                                    {{ page }}
                                                                </a>
                                                                <ng-template #dotsTemplate>
                                                                    <span class="page-link">...</span>
                                                                </ng-template>
                                                            </li>

                                                            <!-- Next Button -->
                                                            <li class="page-item"
                                                                [class.disabled]="currentPage >= totalPages || totalPages === 0">
                                                                <a class="page-link"
                                                                    (click)="changePage(currentPage + 1)">Next</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-6 mb-2 text-center">
                                                    <div class="dataTables_length">
                                                        <label>
                                                            Show
                                                            <select
                                                                class="form-control form-control-sm d-inline-block w-auto"
                                                                [(ngModel)]="pageSize" (change)="updatePageSize()">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select>
                                                            items
                                                        </label>
                                                    </div>
                                                </div>

                                                <div *ngIf="allTopicList && allTopicList.length !== 0" class="col-lg-4 col-md-6 mb-2 text-end">
                                                    <div class="dataTables_info">
                                                        {{ (currentPage - 1) * pageSize + 1 }}-
                                                        {{ Math.min(currentPage * pageSize, totalRecords) }} of {{
                                                        totalRecords
                                                        }} items
                                                    </div>
                                                </div>
                                                <div  *ngIf="!allTopicList || allTopicList.length === 0" class="col-lg-4 col-md-6 mb-2 text-end">
                                                    No record found
                                                </div>
                                            </div>
                                        </c-card-body>
                                    </c-card>
                                </c-card-body>
                            </c-card>
                        </c-col>
                    </c-row>



                </div>
            </div>
        </div>
    </section>
    <c-modal #deActiveModal alignment="center" id="deActiveModal">
        <c-modal-header>
            <h5 cModalTitle>{{getLabelValue('admin.topics.body.deActiveModal.title.value')}}</h5>
            <button [cModalToggle]="deActiveModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            {{getLabelValue('admin.topics.body.deActiveModal.body.text.value')}}
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="deActiveModal.id" cButton color="secondary">
                {{getLabelValue('admin.topics.body.deActiveModal.closeButton.value')}}
            </button>
            <button cButton class="text-white" color="danger" [cModalToggle]="deActiveModal.id"
                (click)="deleteTopic(topics)">{{getLabelValue('admin.topics.body.deActiveModal.deactiveButton.value')}}</button>
        </c-modal-footer>
    </c-modal>

    <c-modal #activeModal alignment="center" id="activeModal">
        <c-modal-header>
            <h5 cModalTitle>{{getLabelValue('admin.topics.body.activeModal.title.value')}} </h5>
            <button [cModalToggle]="activeModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            {{getLabelValue('admin.topics.body.activeModal.body.text.value')}}
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="activeModal.id" cButton color="secondary">
                {{getLabelValue('admin.topics.body.activeModal.closeButton.value')}}
            </button>
            <button cButton class="text-white" color="danger" [cModalToggle]="activeModal.id"
                (click)="reActiveTopic(topics)">{{getLabelValue('admin.topics.body.activeModal.activeButton.value')}}</button>
        </c-modal-footer>
    </c-modal>

</div>

<div *ngIf="isAddTopics">
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div id="manufacturer-grid_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <c-row ngPreserveWhitespaces>
                        <c-col>
                            <c-card class="mb-4">
                                <c-card-header class="d-flex justify-content-between align-items-center flex-wrap">
                                    <strong>
                                        {{ isEditTopics ? 'Edit topic details ':'Add a new topic' }}
                                        {{ isEditTopics ? allTopicList.title : '' }}
                                        <a class="btn btn-sm text-primary" (click)="backToTopicList()">
                                            <i class="fas fa-arrow-circle-left me-1"></i>
                                            {{getLabelValue('admin.topics.addNew.header.backToTopicListButton.value')}}
                                        </a>
                                    </strong>
                                    <div class="btn-container d-md-flex flex-md-row d-flex flex-column gap-2">
                                        <a class="btn btn-primary btn-sm text-white" *ngIf="!isEditTopics"
                                            [title]="getLabelValue('admin.topics.addNew.header.saveButton.hint')"
                                            (click)="createNewTopic(true)" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom">
                                            <i class="fas fa-save me-1"></i>
                                            {{getLabelValue('admin.topics.addNew.header.saveButton.value')}}
                                        </a>
                                        <a class="btn btn-primary btn-sm text-white" *ngIf="!isEditTopics"
                                        [title]="getLabelValue('admin.topics.addNew.header.saveAndEditButton.hint')"
                                        (click)="createNewTopic(false)" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom">
                                        <i class="fas fa-save me-1"></i>
                                        {{getLabelValue('admin.topics.addNew.header.saveAndEditButton.value')}}
                                    </a>
                                        <a class="btn btn-primary btn-sm text-white" *ngIf="isEditTopics"
                                            (click)="updateTopic(true)"
                                            [title]="getLabelValue('admin.topics.addNew.header.updateButton.hint')"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <i class="fas fa-save me-1"></i>
                                            {{getLabelValue('admin.topics.addNew.header.updateButton.value')}}
                                        </a>
                                        <a class="btn btn-primary btn-sm text-white" *ngIf="isEditTopics"
                                            [title]="getLabelValue('admin.topics.addNew.header.saveAndEditButton.hint')"
                                            (click)="updateTopic(false)" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom">
                                            <i class="fas fa-save me-1"></i>
                                            {{getLabelValue('admin.topics.addNew.header.saveAndEditButton.value')}}
                                        </a>
                                        <a class="btn btn-danger btn-sm text-white" *ngIf="isEditTopics && !topicData?.isDeleted" 
                                        [cModalToggle]="deactiveTopicEditModal.id"
                                            [title]="getLabelValue('admin.topics.addNew.header.deleteButton.hint')"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <i class="fas fa-trash me-1"></i>
                                            {{getLabelValue('admin.topics.addNew.header.deleteButton.value')}}
                                        </a>
                                        <a class="btn btn-success btn-sm text-white" *ngIf="isEditTopics && topicData?.isDeleted" 
                                        [cModalToggle]="activeTopicEditModal.id"
                                            [title]="getLabelValue('admin.topics.addNew.header.activeButton.hint')"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <i class="fas fa-check me-1"></i>
                                            {{getLabelValue('admin.topics.addNew.header.activeButton.value')}}
                                        </a>
                                    </div>
                                </c-card-header>
                                <c-card-body>
                                    <form [formGroup]="topicForm">
                                        <c-card class="mb-4">
                                            <c-card-header class="d-flex justify-content-between align-items-center"
                                                (click)="toggleCollapse(0)">
                                                <strong><i class="fa fa-circle-info me-3 fw-bold"></i>Info</strong>
                                                <div>
                                                    <a class="btn btn-sm">
                                                        <i class="fas me-1"
                                                            [ngClass]="collapses[0] ? 'fa-minus':'fa-plus'"></i>
                                                    </a>
                                                </div>
                                            </c-card-header>
                                            <c-card-body [@collapse]="collapses[0] ? 'open' : 'closed'">
                                                <!-- <form [formGroup]="topicForm"> -->
                                                <div class="form-group row mb-1">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center justify-content-end">
                                                            <label class="col-form-label me-3"
                                                                for="title">{{getLabelValue('admin.topics.addNew.info.title.value')}}
                                                            </label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.info.title.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-group-required">
                                                            <input id="title" formControlName="title"
                                                                class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row mb-1">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center justify-content-end">
                                                            <label class="col-form-label me-3"
                                                                for="body">{{getLabelValue('admin.topics.addNew.info.body.value')}}
                                                                <!-- <span
                                                    class="text-danger fw-bold position-absolute">*</span> -->
                                                            </label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.info.body.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <!-- <div class="input-group input-group-required">
                                                            <input id="body" formControlName="body" class="form-control"
                                                                type="text"> -->
                                                        <angular-editor id="body" formControlName="body"
                                                            [config]="editorConfig">
                                                        </angular-editor>
                                                        <!-- </div> -->
                                                    </div>
                                                </div>

                                                <!-- <div class="form-group row mb-1">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center justify-content-end">
                                                            <label class="col-form-label me-3"
                                                                for="url">{{getLabelValue('admin.topics.addNew.info.url.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.info.url.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                    </div>
                                                </div> -->
                                            </c-card-body>
                                        </c-card>

                                        <c-card class="mb-4">
                                            <c-card-header class="d-flex justify-content-between align-items-center"
                                                (click)="toggleCollapse(1)">
                                                <strong><i class="fa fa-tv me-3 fw-bold"></i>Display</strong>
                                                <div>
                                                    <a class="btn btn-sm">
                                                        <i class="fas me-1"
                                                            [ngClass]="collapses[1] ? 'fa-minus':'fa-plus'"></i>
                                                    </a>
                                                </div>
                                            </c-card-header>
                                            <c-card-body [@collapse]="collapses[1] ? 'open' : 'closed'">
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="published">{{getLabelValue('admin.topics.addNew.display.published.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.published.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="published" formControlName="published"
                                                            type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="includeInTopMenu">{{getLabelValue('admin.topics.addNew.display.includeInTopMenu.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.includeInTopMenu.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="includeInTopMenu" formControlName="includeInTopMenu"
                                                            type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="includeInFooterColumn1">{{getLabelValue('admin.topics.addNew.display.includeInFooterColumn1.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.includeInFooterColumn1.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="includeInFooterColumn1"
                                                            formControlName="includeInFooterColumn1" type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="includeInFooterColumn2">{{getLabelValue('admin.topics.addNew.display.includeInFooterColumn2.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.includeInFooterColumn2.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="includeInFooterColumn2"
                                                            formControlName="includeInFooterColumn2" type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="includeInFooterColumn3">{{getLabelValue('admin.topics.addNew.display.includeInFooterColumn3.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.includeInFooterColumn3.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="includeInFooterColumn3"
                                                            formControlName="includeInFooterColumn3" type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="includeInSiteMap">{{getLabelValue('admin.topics.addNew.display.includeInSiteMap.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.includeInSiteMap.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="includeInSiteMap" formControlName="includeInSiteMap"
                                                            type="checkbox" />
                                                    </div>
                                                </div>


                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="customerRoles">{{getLabelValue('admin.topics.addNew.display.customerRoles.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.customerRoles.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-group-required">
                                                            <ng-select id="customerRoles"
                                                                formControlName="customerRoleId"
                                                                [items]="allCustomerRoleList"
                                                                bindLabel="customerRoleName" bindValue="_id"
                                                                [searchable]="true" class="form-control"
                                                                style="padding: 0 !important;" [clearable]="true"
                                                                [multiple]="true" appendTo="body">
                                                                <ng-template ng-option-tmp let-item="item">
                                                                    {{ item.customerRoleName }}
                                                                </ng-template>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="accessibleWhenStoreClosed">{{getLabelValue('admin.topics.addNew.display.accessibleWhenStoreClosed.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.accessibleWhenStoreClosed.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="accessibleWhenStoreClosed"
                                                            formControlName="accessibleWhenStoreClosed"
                                                            type="checkbox" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="order">{{getLabelValue('admin.topics.addNew.display.displayOrder.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.displayOrder.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="order" formControlName="order" class="form-control"
                                                            type="number" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1 align-items-center">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center  justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="systemName">{{getLabelValue('admin.topics.addNew.display.systemName.value')}}
                                                                <span
                                                                    class="text-danger fw-bold position-absolute">*</span>
                                                            </label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.display.systemName.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input id="systemName" formControlName="systemName"
                                                            class="form-control" type="text" />
                                                            <div *ngIf="topicForm.get('systemName')?.invalid  && topicForm.get('systemName')?.touched"
                                                            class="text-danger">
                                                            {{getLabelValue('admin.topics.addNew.display.systemName.error')}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </c-card-body>
                                        </c-card>

                                        <c-card class="mb-4">
                                            <c-card-header class="d-flex justify-content-between align-items-center"
                                                (click)="toggleCollapse(2)">
                                                <strong><i class="fas fa-search-plus me-3 fw-bold"></i>SEO</strong>
                                                <div>
                                                    <a class="btn btn-sm">
                                                        <i class="fas me-1"
                                                            [ngClass]="collapses[2] ? 'fa-minus':'fa-plus'"></i>
                                                    </a>
                                                </div>
                                            </c-card-header>
                                            <c-card-body [@collapse]="collapses[2] ? 'open' : 'closed'">
                                                <!-- <form [formGroup]="topicForm"> -->
                                                <div class="form-group row mb-1">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="searchEngineFriendlyPageName">{{getLabelValue('admin.topics.addNew.seo.searchEngineFriendlyPageName.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.seo.searchEngineFriendlyPageName.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-group-required">
                                                            <input id="searchEngineFriendlyPageName"
                                                                formControlName="searchEngineFriendlyPageName"
                                                                class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group row mb-1">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="metaTitle">{{getLabelValue('admin.topics.addNew.seo.metaTitle.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.seo.metaTitle.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-group-required">
                                                            <input id="metaTitle" formControlName="metaTitle"
                                                                class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group row mb-1">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="metaKeywords">{{getLabelValue('admin.topics.addNew.seo.metaKeywords.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.seo.metaKeywords.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-group-required">
                                                            <input id="metaKeywords" formControlName="metaKeywords"
                                                                class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group row mb-1">
                                                    <div class="col-md-3">
                                                        <div class=" d-flex align-items-center justify-content-end">
                                                            <label class="col-form-label me-3 text-end"
                                                                for="metaDescription">{{getLabelValue('admin.topics.addNew.seo.metaDescription.value')}}</label>
                                                            <div [title]="getLabelValue('admin.topics.addNew.seo.metaDescription.hint')"
                                                                data-toggle="tooltip" class="ico-help">
                                                                <i class="fas fa-question-circle text-primary"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-group-required">
                                                            <textarea cFormControl id="metaDescription"
                                                                class="form-control" formControlName="metaDescription"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </c-card-body>
                                        </c-card>
                                    </form>
                                </c-card-body>
                            </c-card>
                        </c-col>
                    </c-row>



                </div>
            </div>
        </div>
    </section>
    <c-modal #deactiveTopicEditModal alignment="center" id="deactiveTopicEditModal">
        <c-modal-header>
            <h5 cModalTitle>{{getLabelValue('admin.topics.body.deActiveModal.title.value')}}</h5>
            <button [cModalToggle]="deactiveTopicEditModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            {{getLabelValue('admin.topics.body.deActiveModal.body.text.value')}}
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="deactiveTopicEditModal.id" cButton color="secondary">
                {{getLabelValue('admin.topics.body.deActiveModal.closeButton.value')}}
            </button>
            <button cButton class="text-white" color="danger" [cModalToggle]="deactiveTopicEditModal.id"
                (click)="deactiveTopic()">{{getLabelValue('admin.topics.body.deActiveModal.deactiveButton.value')}}</button>
        </c-modal-footer>
    </c-modal>

    <c-modal #activeTopicEditModal alignment="center" id="activeTopicEditModal">
        <c-modal-header>
            <h5 cModalTitle>{{getLabelValue('admin.topics.body.activeModal.title.value')}} </h5>
            <button [cModalToggle]="activeTopicEditModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            {{getLabelValue('admin.topics.body.activeModal.body.text.value')}}
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="activeTopicEditModal.id" cButton color="secondary">
                {{getLabelValue('admin.topics.body.activeModal.closeButton.value')}}
            </button>
            <button cButton class="text-white" color="danger" [cModalToggle]="activeTopicEditModal.id"
                (click)="activeTopic()">{{getLabelValue('admin.topics.body.activeModal.activeButton.value')}}</button>
        </c-modal-footer>
    </c-modal>
</div>